@model BookBase.Models.Author

<div class="animated fadeIn">
    <div class="detail-box">
        <div class="detail-title-box">
            <h5>Szczegóły autora</h5>
            <p><span class="details-book-title">@Model.Name</span></p>
        </div>

        <table class="bordered highlight">
            <tr>
                <td><strong>@Html.DisplayNameFor(model => model.Name)</strong></td>
                <td>@Html.DisplayFor(model => model.Name)</td>
            </tr>
        </table>
        <div class="detail-books-box">
            <h5>Książki autora</h5>

            @{
                if (!Model.HasBooks())
                {
                    <p class="details-author-nobooks">Autor nie posiada żadnych książek w bazie.</p>
                }
                else
                {
                    <table class="bordered highlight">
                        <thead>
                            <tr>
                                <th>Lp.</th>
                                <th>Tytuł książki</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var book in Model.Books)
                                {
                                    <tr>
                                        <td><strong>@i.</strong></td>
                                        <td>@book.Title</td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>
                                }
            }


        </div>
        <div class="button-section">
            @Ajax.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new AjaxOptions
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "content",
       LoadingElementId = "preloader",
   }, new { @class = "waves-effect waves-light btn light-blue", })
            @Ajax.ActionLink("Powrót do listy", "Index", "Author", null, new AjaxOptions
   {
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace,
       UpdateTargetId = "content",
       LoadingElementId = "preloader",
   }, new { @class = "waves-effect waves-light btn grey darken-1", })
        </div>
    </div>

